In [2]:
# Import libraries
import pandas as pd
from sklearn.model_selection import train_test_split

from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [3]:

# Step 1: Load diabetes dataset and use only 1 feature: Glucose
df = pd.read_csv('diabetes.csv')  # Make sure this CSV is in the same folder
        # Target (1D array)

In [4]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [5]:
X = df[['Glucose']].values        # Feature (2D array)
y = df['Outcome'].values

In [74]:
# Step 4: Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [6]:


# Step 3: Initialize weight and bias
w = np.array([0.0])  # shape (1,)
b = 0.0
lr = 0.1
epochs = 1000

# Step 4: Training loop
for epoch in range(epochs):
    z = np.dot(X_train, w) + b
    y_pred = 1 / (1 + np.exp(-z))  # Sigmoid

    # Gradient calculation
    dw = np.dot(X_train.T, (y_pred - y_train)) / len(X_train)
    db = np.sum(y_pred - y_train) / len(X_train)

    # Weight update
    w -= lr * dw
    b -= lr * db

NameError: name 'np' is not defined

In [76]:
# Predict on test set
z_test = np.dot(X_test, w) + b
y_test_pred_prob = 1 / (1 + np.exp(-z_test))
y_test_pred = (y_test_pred_prob >= 0.5).astype(int)

In [77]:
com = {"Actual Y" : y_test, "Predicted Y" :y_test_pred }

In [78]:
com_df = pd.DataFrame(com)

In [79]:
com_df

     Actual Y  Predicted Y
0           0            0
1           0            0
2           0            0
3           0            0
4           0            0
..        ...          ...
149         1            0
150         0            0
151         0            0
152         1            0
153         0            0

[154 rows x 2 columns]

In [80]:
print("Accuracy Score:", accuracy_score(y_test, y_test_pred))

Accuracy Score: 0.6428571428571429